<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for</title>
</head>
<body>


<h1>v-for</h1>
<hr>
<div id="app">
    <ul>
        <li v-for="item in shoutitem">{{item}}</li>
    </ul>
    <hr>
    <ul>
        <li v-for="(student,index) in sortStudent">{{index+1}}.{{student.name}}--{{student.age}}</li>
    </ul>
</div>


<script src="../assets/js/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            item:[53,23,7,14,54,36,28],
            students:[
                {name:'JSpang',age:33},
                {name:'Panda',age:28},
                {name:'Panpan',age:23},
                {name:'King',age:14}
            ]
        },
        computed:{
            shoutitem:function () {
                return this.item.sort(sortNumber);
            },
            sortStudent:function () {
                return sortByKey(this.students,'age');
            }
        }
    });
    function sortNumber(a,b) {
        return a-b;
    }


    //数组对象方法排序:
    function sortByKey(array,key){
        return array.sort(function(a,b){
            var x=a[key];
            var y=b[key];
            return ((x<y)?-1:((x>y)?1:0));
        });
    }
</script>


</body>
</html>